# Java
target/
*.class
*.jar
*.war
*.ear

# Maven
.mvn/
mvnw
mvnw.cmd

# IDEs
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
.factorypath

# Docker
docker-compose.override.yml

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Keycloak/Data
keycloak-db/
*.json
!keycloak-realm/*.json

# OPA/Policy
opa-data/
